/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* Body Styles */
body {
  background: #2e2b2b;
}

/* Container Styles */
.container {
  overflow-x: hidden;
  height: 100vh;
  background: url(./assets/bg.png) no-repeat right / cover;
  width: 100%;
}

/* Upload Modal Styles */
.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/* Drop Zone Styles */
#dropZone {
  flex-direction: column;
  display: flex;
  width: 50%;
  height: 65%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #2e2b2b;
  color: #fefefe;
  border-radius: 12px;
  position: fixed;
  z-index: 9;
}

/* Layout Styles */
.layout {
  background: #32323296;
  height: 100vh;
  position: fixed;
  width: 100%;
}

/* Switcher Styles */
.switcher {
  position: fixed;
  display: flex;
  padding: 20px;
  width: 90%;
  align-items: center;
  background: #070b0b45;
  justify-content: space-around;
  border-radius: 16px;
  z-index: 999;
}

.switcher .case {
  display: flex;
  text-align: center;
  color: white;
  cursor: pointer;
  align-items: center;
  transition: 0.4s;
}

.switcher .case:hover {
  font-size: larger;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

/* Show More Button Styles */
#showMoreBtn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  border: 0px;
  color: #fff;
  background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  transition: 0.4s;
}

#showMoreBtn:hover {
  background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}

/* Sections Styles */
#sections {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Data Section Styles */
#dataSection {
  display: flex;
}

/* Data Part Styles */
.dataPart {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  justify-content: center;
}

/* Section Styles */
section {
  width: 85%;
  padding: 20px;
  border-radius: 12px;
  display: none;
  margin: 200px 100px;
  box-sizing: border-box;
  color: #fefefe;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #161923c7;
}

/* Close and Delete Button Styles */
.close,
#Delete {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  background: red;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
  border: 0px;
}

/* Upload Button Styles */
.upload-btn {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  border-radius: 6px;
}

/* File Input Styles */
#fileInput {
  margin: 15px;
}

/* Choose Styles */
.choose {
  padding: 25px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* Select Styles */
select {
  margin: 8px;
  padding: 5px;
}

/* Button Styles */
#createChartBtn,
#createSingleChartBtn,
#createHeatmap,
#analyze {
  width: 30%;
  padding: 13px;
  margin: 10px auto;
  display: block;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to right, #ffb300, #ff7e5a);
  transition: 0.5s ease-in-out;
}

h1 {
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

#createChartBtn:hover,
#createSingleChartBtn:hover,
#createHeatmap:hover,
#analyze:hover {
  transform: scale(1.05);
  font-weight: bolder;
  letter-spacing: 1.5px;
}

/* Analysis and Delete Styles */
#ana,
#delDone {
  width: 40%;
  background: #35374b;
  padding: 20px;
  border-radius: 6px;
}

/* Image Styles */
img {
  width: 50px;
  border-radius: 50%;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 600px) {
  .switcher {
    width: 100%;
  }
  select {
    width: 90%;
    margin: 4px auto;
  }
  #createChartBtn,
  #createSingleChartBtn,
  #createHeatmap {
    width: 80%;
    margin: 6px auto;
  }
  .upload-btn {
    width: 100% !important;
  }
  h4 {
    display: none;
  }
  i {
    font-size: 20px;
  }
  img {
    width: 30px;
  }
  .switcher {
    padding: 5px;
    border-radius: unset;
  }
  .choose {
    padding: 0;
  }
  h2 {
    text-align: center;
  }
  #dropZone {
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
  }
  #dataContent {
    width: 100%;
  }
}
